html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #888;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1, h2 {
  font-size: 38px;
  color: #222222;
  font-weight: 700;
  font-family: 'Montserrat', serif;
}

h3, h4 {
  font-size: 28px;
  color: #222222;
  font-weight: 700;
  font-family: 'Montserrat', serif;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  font-size: 14px;
}

ul, ol {
  /*list-style: outside none none;*/
  margin: 0;
  padding: 5px 20px;
}

ul li, ol li {
  /*list-style: none;*/
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

.section-header {
  margin-bottom: 30px;
}

.section-header p {
  text-align: center;
  font-weight: 400;
  line-height: 26px;
}

.section-title {
  font-size: 30px;
  color: #231f20;
  display: inline-block;
  font-weight: 700;
  position: relative;
}

.notebook-section {
  margin-top: -450px;
  margin-bottom: -100px;
}

.shape {
  height: 1px;
  margin: 0 auto 30px;
  position: relative;
  width: 60px;
  background-color: #231f20;
}

.padding-none {
  padding: 0px;
}

.bg-gray {
  background: #e8e8e8;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(61, 96, 244, 0.3);
}

.btn {
  font-size: 14px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  background-color: #231f20;
  position: relative;
  z-index: 1;
}

.btn-common:hover {
  color: #231f20;
  background: transparent;
  border: 1px dotted #231f20;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.btn-border {
  color: #231f20;
  background-color: transparent;
  border: 1px solid #231f20;
  border-radius: 30px;
  text-transform: uppercase;
}

.btn-border:hover {
  color: #fff;
  border-color: #231f20;
  background-color: #231f20;
}

.btn-border:focus {
  color: #fff;
  border-color: #231f20;
  background-color: #231f20;
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  padding: 7px 0px;
  color: #231f20;
  text-transform: capitalize;
}

.btn-rm:hover {
  color: #231f20;
}

button:focus {
  outline: none !important;
}

.icon-close, .icon-check {
  color: #231f20;
}

.social-icon a {
  color: #666;
  background: #fff;
  width: 32px;
  height: 32px;
  line-height: 34px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  margin: 15px 6px 12px 4px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.social-icon a:hover {
  color: #fff !important;
}

.social-icon .facebook:hover {
  background: #3b5999;
}

.social-icon .twitter:hover {
  background: #4A9CEC;
}

.social-icon .instagram:hover {
  background: #D6274D;
}

.social-icon .linkedin:hover {
  background: #1260A2;
}

.social-icon .google:hover {
  background: #CE332A;
}

.social-icon .telegram:hover {
  background: #0088cc;
}

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #231f20;
  border-radius: 30px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top:hover, a.back-to-top:focus {
  text-decoration: none;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}

.loader {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-1:before, #loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 7px solid transparent;
  border-top-color: #231f20;
}

#loader-1:before {
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after {
  border: 7px solid #f2f2f2;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.section-padding {
  padding: 60px 0;
}

hr {
  border-top: 1px dotted #ddd;
}

/* Services Item */
.card-item {
  padding: 20px;
  border-radius: 4px;
  margin: 15px 0;
  box-shadow: 0 0 12px #F4F4F4;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.card-item .icon {
  border: 1px solid #f1f1f1;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.card-item .icon i {
  font-size: 30px;
  color: #231f20;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.card-item .card-content h3 {
  font-weight: 500;
  line-height: 20px;
  margin-top: 10px;
}

.card-item .card-content h3 a {
  font-size: 16px;
  color: #585b60;
}

.card-item .card-content h3 a:hover {
  color: #231f20;
}

.card-item:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}

.card-item:hover .icon {
  background: #231f20;
}

.card-item:hover .icon i {
  color: #fff;
}

#card {
  position: relative;
}

.card-item-benefit {
    background: white;
    border-bottom: 5px solid #1268b2;
}

.product-content {
    padding: 10px;
}

.product-content-image {
    margin: -30px -30px 20px -30px; 
}

.product-content-subtitle {
    font-size: 16px;
    font-weight: bold;
    color: #231f20;
    margin: -20px 0 20px 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.benefit-content {
    padding: 10px;
}

.benefit-content-image {
    margin: -30px -30px 20px -30px; 
}

.benefit-content-subtitle {
    font-size: 16px;
    font-weight: bold;
    color: #231f20;
    margin: -20px 0 20px 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.card-item-project {
    background: white;
}

.project-content {
    padding: 10px;
}

.project-content-image {
    margin: -30px -30px 20px -30px; 
}

.project-content-title {
    font-size: 15px;
    color: #231f20;
    margin-bottom: 10px;
}

.card-item-project-reference {
    border: 1px solid #eee;
}

.project-reference-content-title {
    font-size: 15px;
    color: white;
    background: #231f20;
    margin: -30px -30px 10px -30px;
    padding: 10px;
    text-align: center;
}

.project-reference-content-description {
    padding: 10px 0;
    border-bottom: 1px solid #dcdcdc;
}

.project-image {
    cursor: pointer;
    padding: 5px;
}

.project-image:hover {
    opacity: 0.9;
}

.who-are-we-item {
    margin: 10px;
    border: 1px solid #fafafa;
    background: white;
}

.who-are-we-item:hover {
    color: white;
    background-image: url(../img/who-are-we/item-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.who-are-we-content-subtitle {
    font-size: 15px;
    /*color: #231f20;*/
    margin-bottom: 20px;
}

#what-we-do {
  background: #fafafa;
}

.what-we-do-content {
  height: 250px;
}

.our-partners-content {
    padding: 10px;
}

.about-us-title {
    font-size: 20px;
    font-weight: bold;
    color: #231f20;
}

.about-us-item {
    margin-bottom: 20px;
}

.about-us-item-title {
    font-size: 20px;
    font-weight: bold;
    color: #231f20;
    margin-bottom: 10px;
}

.project-reference-content {
    padding: 10px;
}

.project-reference-content-image {
    margin: -30px -30px 20px -30px; 
}

.about-us-item-content {
    margin-bottom: 25px;
}

.navbar-brand {
  position: relative;
  padding: 0px;
}

.scrolling-navbar {
  padding: 5px !important;
}

.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  top: 0px !important;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  background: #fff !important;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-brand img {
  width: 70%;
}

.top-nav-collapse .navbar-nav .nav-link {
  color: #585b60 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: #231f20 !important;
  border-color: #231f20 !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  color: #231f20 !important;
}

.navbar-expand-md .navbar-toggler {
  background: transparent;
  border: 1px solid #e5f3fc;
  color: #231f20;
  border-radius: 4px;
  cursor: pointer;
}

.navbar-brand img {
  width: 70%;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #231f20 !important;
  border-color: #231f20;
}

.indigo {
  background: transparent;
}

.menu-bg {
  background: transparent;
}

.navbar-expand-md .navbar-nav .nav-link i {
  font-size: 14px;
  margin-left: 5px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-md .navbar-nav .nav-item {
  padding-left: 25px;
}

.navbar-expand-md .navbar-nav .nav-link {
  color: #333;
  font-weight: 400;
  padding: 7px 0;
  cursor: pointer;
  position: relative;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-md .navbar-nav .nav-link:before {
  background-color: #231f20;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  margin: 0 auto;
  width: 0;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: width 1s;
  -ms-transition: width 1s;
  -webkit-transition: width 1s;
}

.navbar-expand-md .navbar-nav li a:hover,
.navbar-expand-md .navbar-nav li .active > a,
.navbar-expand-md .navbar-nav li a:focus {
  color: #fff;
  outline: none;
}

.navbar-expand-md .navbar-nav .active > .nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open > .nav-link {
  color: #231f20 !important;
  width: 100%;
}

.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:hover::before,
.navbar-expand-md .navbar-nav .nav-link:focus {
  color: #231f20;
  width: 100%;
  transition: width 1s;
  -webkit-transition: width 1s;
  -ms-transition: width 1s;
}

.navbar {
  padding: 10px 0;
}

.navbar li.active a.nav-link {
  color: #preset;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 99;
  min-width: 210px;
  background-color: #fff;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.dropdown-menu:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: -5px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  text-align: left;
  top: 100%;
  border: none;
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.dropdown .dropdown-menu .dropdown-item {
  width: 100%;
  padding: 12px 20px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #f1f1f1;
  text-decoration: none;
  display: inline-block;
  float: left;
  clear: both;
  position: relative;
  outline: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown .dropdown-menu .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
  color: #231f20;
  background: #f7f7f7;
}

.dropdown-item.active, .dropdown-item:active {
  background: transparent;
}

.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}

/* ==========================================================================
3. Hero Area
========================================================================== */
#hero-area {
  background-image: url(../img/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 675px;
  position: relative;
  overflow: hidden;
  padding: 180px 0 80px;
}

#hero-area .contents .head-title {
  color: #222222;
  font-size: 42px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 10px;
}

#hero-area .contents .header-button {
  margin-top: 20px;
  color: #222222;
}

#hero-area .contents .header-button .btn {
  margin-right: 10px;
}

.hero-title {
    font-size: 60px;
    font-weight: bold;
    color: white;
    line-height: 55px;
    margin-bottom: 10px;
}

.hero-subtitle {
    font-size: 15px;
    color: white;
}

.hero-contact-card {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.sloder-img {
  background: #34363a;
}

/* Industry Iteam */
#industry {
  background-image: url(../img/industry/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding: 80px 0 80px;
}

#industry .section-title {
  color: white;
  margin-bottom: 40px;
}

#industry .industry-content {
  text-align: center;
}

#industry .industry-content a {
  color: white;
  font-size: 20px;
  padding: 20px;
}

/* Our Team Item */
.our-team-item:hover {
  /*box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);*/
}

.our-team-item {
  margin: 15px 0;
  border-radius: 0px;
  /*box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);*/
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  /*background: #fff;*/
}

.our-team-item .our-team-content {
  font-size: 13px;
  padding-left: 10px;
  line-height: 17px;
}

.our-team-item .social-icons {
  padding-top: 11px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.our-team-item .social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.our-team-item .social-icons li a {
  letter-spacing: 0px;
  outline: 0 !important;
}

.our-team-item .social-icons li a i {
  font-size: 18px;
  display: block;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.our-team-item .social-icons li .lni-facebook-filled {
  color: #3b5998;
}

.our-team-item .social-icons li .lni-twitter-filled {
  color: #00aced;
}

.our-team-item .social-icons li .lni-instagram-filled {
  color: #fb3958;
}

.our-team-item .social-icons li .lni-telegram-filled {
  color: #0088cc;
}

.our-team-item .info-text {
  margin-bottom: 10px;
}

.our-team-item .info-text h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 5px;
}

.our-team-item .info-text h3 a {
  color: #333;
}

.our-team-item .info-text h3 a:hover {
  color: #231f20;
}

.our-team-item .info-text p {
  margin: 0;
  color: #888;
}

.our-team-item:hover .our-team-overlay {
  opacity: 1;
}

/* Testimonial Item */
#testimonial {
  background: white;
  padding: 80px 0 80px;
}

#testimonial .section-title {
  color: #bbb;
}

.testimonial-user {
    font-size: 20px;
    color: #231f20;
    margin-right: 15px;
}

.testimonial-date {
    color: #bbb;
}

.testimonial-rating {
    color: #ffaa06;
}

.testimonial-content {
    color: #bbb;
    padding: 15px;
}

/*
.testimonial {
  position: relative;
  background-color: #231f20;
}

.testimonial-item {
  text-align: center;
  padding: 30px 20px;
}

.testimonial-item .img-thumb {
  position: relative;
  margin: 15px 15px 15px 0;
}

.testimonial-item .img-thumb img {
  border-radius: 50%;
  display: inline-block;
  width: inherit;
  padding: 7px;
}

.testimonial-item .content {
  overflow: hidden;
}

.testimonial-item .content .description {
  width: 100%;
  color: white;
}

.testimonial-item .content .star-icon i {
  color: #231f20;
}

.testimonial-item .info h2 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0;
}

.testimonial-item .info h2 a {
}

.testimonial-item .info h3 {
  margin: 0;
  clear: both;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 10px;
}

.testimonial-item .info h3 a {
}

.testimonial-item .info .indicator {
  font-size: 26px;
  font-weight: 700;
  color: #231f20;
}

.testimonial-item .icon-social {
  margin-top: 30px;
}

.testimonial-item .icon-social a {
  background: #fff;
  width: 32px;
  height: 32px;
  line-height: 34px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  font-size: 15px;
  margin: 15px 6px 12px 4px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.testimonial-item .icon-social a:hover {
  color: #fff;
}

.testimonial-item .icon-social .facebook:hover {
  background: #3b5999;
}

.testimonial-item .icon-social .twitter:hover {
  background: #4A9CEC;
}

.testimonial-item .icon-social .instagram:hover {
  background: #D6274D;
}

.testimonial-item .icon-social .linkedin:hover {
  background: #1260A2;
}

.testimonial-item .icon-social .google:hover {
  background: #CE332A;
}

.testimonial-item .icon-social .telegram:hover {
  background: #0088cc;
}
*/

.owl-pagination {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -40px;
}

.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-carousel button.owl-dot {
  display: inline-block;
  zoom: 1;
  display: inline;
  text-align: center;
}

.owl-carousel button.owl-dot span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px 4px;
  filter: alpha(opacity=50);
  opacity: 1;
  border-radius: 30px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.owl-carousel button.owl-dot.active span, .owl-carousel button.owl-dot.clickable, .owl-carousel button.owl-dot:hover span {
  background: #231f20;
}

.slick-slider {
  padding: 80px 0;
}

.slider-center img {
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  padding: 63px 63px;
  position: relative;
  text-align: center;
}

.slider-center .slick-center img {
  -moz-transform: scale(1.9);
  -ms-transform: scale(1.9);
  -o-transform: scale(1.9);
  -webkit-transform: scale(1.9);
  opacity: 1;
  transform: scale(1.9);
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px;
  border: 1px solid #f1f1f1;
}

.form-control:focus {
  border-color: #231f20;
  box-shadow: none;
  outline: none;
}

textarea {
  border-radius: 4px !important;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

.contact-form-area h2 {
  font-size: 18px;
  text-transform: uppercase;
}

.contact-right-area {
  margin-left: 50px;
}

.contact-right-area .contact-title {
  margin-bottom: 20px;
}

.contact-right-area .contact-title h1 {
  font-size: 22px;
}

.contact-right {
  padding: 4px;
}

.contact-right .single-contact {
  margin: 30px 0px;
  padding: 3px 55px;
  position: relative;
  color: #888;
}

.contact-right .single-contact p {
  margin-bottom: 0px;
}

.contact-right .single-contact p a {
  color: #888;
}

.contact-right .contact-icon {
  background: #231f20;
  color: #fff;
  border-radius: 4px;
  font-size: 20px;
  height: 40px;
  left: 0;
  padding-top: 8px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
}

/* Page Area Start */
.page-content h3 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.h3 {
  float: right;
  font-size: 16px;
}

/*cta
*/
#cta{background: ;}

/* Footer Area Start */
#footer {
    background-color: #231f20;
}

.footer-area {
  position: relative;
  padding: 40px 0 0 0;
  background: #282828;
  border-top: 5px solid #1268b2;
}

.footer-area .footer-title {
  font-size: 20px;
  color: white;
  font-weight: 500;
  padding-bottom: 5px;
  letter-spacing: 0.5px;
}

.footer-area .footer-title span {
  color: white;
  font-weight: 400;
}

.footer-area .text-widget p {
  color: white;
}

.footer-area .footer-link p {
}

.footer-area .footer-link p a {
  color: white;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

.footer-area .footer-link li a:hover {
  color: #231f20;
}

.footer-area .address li {
  margin-bottom: 20px;
}

.footer-area .address li a {
  color: white;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.footer-area .address li a i {
  font-size: 22px;
  width: 32px;
  vertical-align: middle;
  height: 36px;
  text-align: center;
  display: inline-block;
  float: left;
  margin-right: 5px;
  line-height: 32px;
}

.footer-area #subscribe-form {
  margin-top: 10px;
}

.footer-area #subscribe-form .form-group {
  position: relative;
}

.footer-area #subscribe-form .form-group .btn-common {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 15px;
  height: 52px;
  border-radius: 0;
  background: transparent;
  color: #231f20;
}

#copyright {
  margin-top: 40px;
  padding-bottom: 40px;
}

#copyright .copyright-content {
  border-top: 1px solid #d5d4e9;
  padding: 15px 0;
  margin: 45px 0 0px;
}

#copyright p {
  line-height: 25px;
  color: white;
  text-align: center;
  margin: 0;
}

#copyright a {
  color: white;
}

.social-icon a {
  color: #231f20;
  background: none;
  width: 32px;
  height: 32px;
  line-height: 34px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  margin: 15px 6px 12px 4px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.social-icon a:hover {
  color: #fff !important;
}

.color-white {
  color: white;
}

.hidden {
  display: none;
}

.mapouter {
  margin-bottom: 20px;
}

.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
    -ms-touch-action: auto;
        touch-action: auto;
}

.faq-title {
  font-size: 20px;
  color: #222222;
  margin-bottom: 5px;
}

.faq-content {
  margin-bottom: 40px;
}

.card-header {
  font-size: 16px;
  color: #222222;
  cursor: pointer;
}

.nav-link {
    color: #888;
}

.navlink .active {
    background: #231f20;
}